@model MVcApp.Models.EmpDept
@{
    ViewBag.Title = "NewIndex9";
}

<h2>NewIndex9</h2>


<table class="table-striped">
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
    </tr>
    @foreach (var item in Model.emp)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }

</table>

<table class="table-striped">
    <tr>
        <th>DeptId</th>
        <th>DeptName</th>
 
    </tr>
    @foreach (var item in Model.dept)
    {
        <tr>
            <td>@item.DeptId</td>
            <td>@item.DeptName</td>
             
        </tr>
    }

</table>

<br />
<h1>Student Details</h1>
@Html.Partial("_MyPrartialView")